body {
    font-size: 16px;
}
h1 {
    size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: seagreen;
}

p {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
}

.modify {
    background-color: seagreen;
    line-height: 2em;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}