/*
 - Faça com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela. Se a numeração do item for PAR, faça a cor de fonte ser verde. Se o número for considerado primo, utilize a propriedade text-transform para deixar o texto maiúsculo. (Dica: combinar classes pode ser útil aqui).
 - Faça todas as tags Header (h1, h2...) possuírem cor de fonte vermelha e, se alguma delas estiver em itálico, aumente seu tamanho para 40px e acrescente uma borda de 1px preta e sólida.
 - Faça todas as li's terem 20px de tamanho de fonte e, para todo texto em itálico dentro de alguma li, utilize a propriedade font-weight para deixá-lo negrito.
 - Na listagem de linguagens de programação, faça com que as 3 primeiras da lista possuam cor de fonte azul e, se alguma possuir "java*" no texto, utilize uma cor de fundo rosa.
 - (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "temática do site"
  Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde).

*/

ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

li.primo {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-size: 40px;
    border: 1px black solid;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul.languages li:nth-child(1), ul.languages li:nth-child(2), ul.languages li:nth-child(3) {
    color: blue;
}

ul li.java {
    background-color: pink;
}

ul.sites li:hover {
    font-weight: bold;
}

li.stack:hover {
    color: orange;
}

li.w3:hover {
    color: green;
}

li.mdn:hover {
    color: black;
}

li.dev:hover {
    color: yellow;
}

li.trybe:hover {
    color: green;
}

a {
    text-decoration: none;
    color: inherit;
}